---
layout: archive
title: "Education"
permalink: /teaching/
author_profile: true
---

<h2>Michigan State University</h2>

<ul>
  <li><strong>Expected Graduation</strong>: Fall 2026</li>
  <li><strong>Major</strong>: Computer Engineering</li>
  <li><strong>Minor</strong>: Data Science</li>
  <li><strong>Career Interests</strong>: Hardware engineering, circuit design, autonomous systems</li>
</ul>

{% if page.url == "/teaching/university-coursework/" %}
  <h2>University Coursework</h2>
  <p>Below I have listed all of the courses I have taken or will be taking throughout my time in university so far, from most recent to oldest.</p>
{% endif %}

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
