---
layout: default
---

<div id="main" role="main">
  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <header>
      <h1 class="page__title" itemprop="headline">{{ page.title }}</h1>
    </header>

    <section class="page__content" itemprop="text">
      <h2>University Coursework</h2>
      <p>Below I have listed all of the courses I have taken or will be taking throughout my time in university so far, from most recent to oldest.</p>
      {{ content }}
    </section>
  </article>
</div>
